* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$ff_inter: "Inter", sans-serif;
$ff_urbanist: "Urbanist", sans-serif;
$ff_righteous: "Righteous", cursive;

a {
  color: white;
  text-decoration: none;
}
.default_btn {
  color: white;
  outline: none;
  border: none;
  font-size: 18px;
  background: #c99e71;
}
button:hover {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Righteous&family=Urbanist&display=swap");

.App {
  border: 4px solid red;
  max-width: 1920px;
  width: 100%;
  background: #14110e;
  margin: auto;
  & > .header {
    position: relative;
    & > .navbar {
      height: 125px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: $ff_inter;
      background: #1c1814;
      & > img {
        cursor: pointer;
        margin: 0 181px 0 250px;
      }
      & > ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        & > li {
          margin: 0 24px;
          & > a {
            font-size: 18px;
            &:hover {
              color: #c99e71;
            }
          }
        }
      }
    }
    & > .h_content {
      background: url(components/img/h_content.png) center center / cover;
      padding: 199px 0 199px 18%;
      & > .left {
        width: 540px;
        color: white;
        & > h1 {
          font-family: $ff_righteous;
          font-size: 72px;
          font-weight: 300;
        }
        p {
          font-family: $ff_urbanist;
          font-size: 20px;
          line-height: 36px;
          margin: 32px 0 64px;
        }
        button {
          font-family: $ff_inter;
          width: 202px;
          height: 70px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    & > .video {
      position: absolute;
      bottom: 138px;
      right: 375px;
      text-align: center;
      & > i {
        line-height: 70px;
        width: 70px;
        height: 70px;
        border: 1.5px solid white;
        border-radius: 50%;
        font-size: 18px;
      }
      &::after {
        content: "Play video";
        display: block;
        text-transform: uppercase;
        font-family: $ff_inter;
        margin-top: 20px;
      }
    }
  }
  & > .c_1 {
    & > .cards {
      padding-top: 140px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
      & > .card {
        color: white;
        margin: 0 18px;
        & > p {
          font-family: $ff_righteous;
          font-size: 24px;
          margin-bottom: 24px;
          &::before {
            content: "01";
            padding-right: 12px;
            color: #c99e71;
          }
        }
        & > .p_2::before {
          content: "02";
        }
        & > .p_3::before {
          content: "03";
        }
      }
    }
  }
  & > .c_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 140px;
    & > .left {
      display: flex;
      flex-direction: column;
      & > img {
        height: 302px;
        width: 298px;
        &:nth-child(2) {
          margin-top: 32px;
        }
      }
    }
    & > .center {
      height: 635px;
      width: 298px;
      margin: 0 32px;
    }
    & > .right {
      width: 510px;
      padding: 120px 56px 0;
      background: #1c1814;
      & > h5 {
        font-size: 18px;
        color: #c99e71;
        font-family: $ff_urbanist;
      }
      & > h1 {
        font-size: 48px;
        font-family: $ff_righteous;
        color: white;
        font-weight: 400;
        line-height: 62px;
        margin: 12px 0 36px;
      }
      & > p {
        font-family: $ff_urbanist;
        color: white;
        opacity: 80%;
        line-height: 28px;
        text-transform: capitalize;
      }
    }
  }
  & > .products {
    font-family: $ff_urbanist;
    text-align: center;
    margin-top: 140px;
    & > h5 {
      color: #c99e71;
    }
    & > h1 {
      color: white;
      font-family: $ff_righteous;
      margin: 12px 0 56px;
      font-weight: 400;
      font-size: 48px;
    }
    & > .cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      & > .card {
        padding: 48px 48px 36px;
        background: #121315;
        height: 579px;
        width: 366px;
        &:nth-child(2) {
          margin: 0 36px;
        }
        &:hover h2 {
          transition: all linear 500ms;
          margin: 37px 0;
        }
        &:hover .rating,
        &:hover h4 {
          transition: all ease-in 500ms;
          display: none;
        }
        &:hover button {
          transition: all ease-out 500ms;
          display: block;
        }
        & > .rating {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 37px;
          & > .fa-star {
            color: white;
            margin: 0 3.5px;
          }
          & > p {
            color: #c99e71;
            margin-right: 10px;
          }
          & > .checked {
            color: #c99e71;
          }
        }
        & > h2 {
          font-family: $ff_righteous;
          font-weight: 400;
          font-size: 24px;
          text-transform: uppercase;
          margin: 20px 0;
          color: white;
        }
        & > button {
          margin: auto;
          display: none;
          height: 48px;
          width: 169px;
          font-family: $ff_urbanist;
          &:hover {
            cursor: pointer;
          }
          & > i {
            padding-right: 15px;
          }
        }
        & > h4 {
          font-family: $ff_urbanist;
          font-size: 18px;
          font-weight: 400;
          color: white;
          & > price {
            color: #c99e71;
          }
        }
      }
    }
    & > button {
      height: 62px;
      width: 252px;
      font-family: $ff_inter;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 56px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  & > .c_machine {
    margin: 140px auto;
    background: #1c1814;
    max-width: 1170px;
    width: 100%;
    padding: 85px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    & > .c_machine_data {
      margin-left: 12%;
      color: white;
      width: 50%;
      & > h1 {
        font-family: "Righteous", cursive;
        font-weight: 400;
        font-size: 48px;
        &::before {
          content: "Coffee";
          display: block;
        }
      }
      & > p {
        font-family: $ff_urbanist;
        margin: 36px 0;
        opacity: 80%;
        line-height: 29px;
        text-transform: capitalize;
      }
      & > button {
        width: 215px;
        height: 62px;
        font-family: $ff_inter;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  & > .menu {
    border: 2px solid red;
    color: white;
    margin: auto;
    & > h1 {
      text-align: center;
      font-family: $ff_righteous;
      font-size: 48px;
      font-weight: 400;
      &::before {
        content: "Menu";
        display: block;
        color: #c99e71;
        font-size: 18px;
        font-family: $ff_urbanist;
        margin-bottom: 10px;
      }
    }

    & > .menu_items {
      border: 3px solid blue;
      margin-top: 56px; 
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & > .item {
        height: 120px;
        width: 565px;
        border: 2px solid red;
        padding: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 18px 20px 20px 18px;
        & > h2 {
          font-family: $ff_righteous;
          font-weight: 400;
          margin-left: 20px;
        }
        & > p {
          color: #c99e71;
          font-family: $ff_urbanist;
          font-size: 18px;
          font-weight: 600;
          margin-left: 20%;
        }
      }
    }
  }
}
